@import 'common/variables';
@import 'common/functions';
@import 'common/mixins';
@import 'common/reset';
@import 'common/fonts';

.container {
  max-width: 1240px;
  padding-right: 32px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(xs) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
