$breakpoints: (
        xs: 0,
        sm: 768px,
        md: 992px,
        lg: 1280px,
        xl: 1440px,
        xxl: 1920px,
);

$font-family: "ProstoOne", san-serif;
$font-title: "DelaGothicOne", san-serif;

$vinous: #771746;
$pink: #eb2d4c;
$pink-light: #f5dce8;
$blue: #0b8396;
$blue-800: rgba(18, 172, 196, .8);
$blue-600: #7dc8d4;
